<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-52-26-127-152.us-west-2.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>Trend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TrendData" Order="1" Enabled="False">
          <Destination Path="Data Source=cs597webdevdb.czovholt5fwn.us-west-2.rds.amazonaws.com;Initial Catalog=Trend;Integrated Security=False;Persist Security Info=True;User ID=CS597WebDev;Password=#AllYourBase1985" Name="data source=cs597webdevdb.czovholt5fwn.us-west-2.rds.amazonaws.com;          initial catalog=Trend;          MultipleActiveResultSets=True;          Integrated Security=False;          Trusted_Connection=False;          Persist Security Info=True;          user id=CS597WebDev;password=#AllYourBase1985" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Trend.Web.Models.ApplicationDbContext, Trend.Web" MigrationConfiguration="Trend.Web.Migrations.Configuration, Trend.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrendData-Web.config Connection String">
      <ParameterValue>data source=cs597webdevdb.czovholt5fwn.us-west-2.rds.amazonaws.com;          initial catalog=Trend;          MultipleActiveResultSets=True;          Integrated Security=False;          Trusted_Connection=False;          Persist Security Info=True;          user id=CS597WebDev;password=#AllYourBase1985</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>